@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
@import "_global.scss";

$font-stack: Chivo, sans-serif;
$font-weight: 700;
$primary-color: #54e6af;
$body-color: #c2cbe5;
$bg-color: #121725;
$form-color: #2c344b;
$header: #ffffff;
$hover: #c2cbe5;

header {
  @include tablet {
    margin: 50px 594px 152px 39px;
    border: 2px solid red;
  }
}
