@import "_global.scss";
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

$font-stack: Chivo, sans-serif;
$font-weight: 700;
$primary-color: #54e6af;
$body-color: #c2cbe5;
$bg-color: #121725;
$form-color: #2c344b;
$header: #ffffff;
$hover: #c2cbe5;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $font-stack;
  color: $header;
  background-color: $bg-color;

  @include mobile {
    overflow-x: hidden;
  }
}

header {
  margin: 102px 1140px 0 165px;

  @include tablet {
    margin: 50px 594px 152px 39px;

    @include mobile {
      position: absolute;
      z-index: 6;
      margin: 62px 143px 0 136px;

      img {
        width: 96px;
        height: 40px;
      }
    }
  }
}

.pod {
  object-fit: contain;

  .pod__container {
    z-index: 2;
    margin: 103px 552px 130px 165px;
    position: absolute;
    background-color: $bg-color;

    @include large {
      width: 800px;
      height: 700px;
    }

    @include tablet {
      margin: 258px 94px 257px 39px;

      @include mobile {
        width: 100%;
        margin: 176px 0 0 0;
        background-color: transparent;
      }
    }

    .pod__header {
      font-size: 52px;
      text-transform: uppercase;
      margin: 88px 58px 0 0;
      span {
        color: $primary-color;
      }

      @include tablet {
        font-size: 48px;
        margin: 93px 0 0;

        @include mobile {
          font-size: 26px;
          line-height: 38px;
          text-align: center;
          margin: 0;
        }
      }
    }

    .pod__paragraph {
      color: $body-color;
      margin: 17px 278px 0 0;
      font-size: 16px;
      line-height: 28px;

      @include tablet {
        font-size: 18px;
        margin: 23px 180px 0 0;

        @include mobile {
          font-size: 15px;
          margin: 23px 24px;
          text-align: center;
        }
      }
    }

    form {
      margin: 44px 296px 164px 0px;
      display: flex;

      @include tablet {
        margin: 0 208px 164px 0;

        @include mobile {
          align-items: center;
          flex-direction: column;
          margin: 70px 24px 0;
        }
      }

      input {
        z-index: 3;
        position: absolute;
        width: 418px;
        height: 56px;
        color: $header;
        background: $form-color;
        border-radius: 50px;
        margin: 44px 296px 93px 0;
        text-indent: 31px;

        @include mobile {
          position: inherit;
          width: 327px;
          height: 46px;
          margin: 48px 0 16px;
        }
      }

      div {
        z-index: 3;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 162px;
        height: 46px;
        color: $bg-color;
        background-color: $primary-color;
        border-radius: 50px;
        margin: 50px 309px 63px 253px;
        box-shadow: 0 30px 30px -18px mix($primary-color, $bg-color);

        cursor: pointer;

        &:hover {
          background-color: mix($primary-color, $hover);
          box-shadow: 0 30px 30px -18px $primary-color;
        }

        @include mobile {
          position: inherit;
          width: 327px;
          height: 46px;
          margin: 0 5px 92px;
          font-weight: bold;
        }
      }

      h6 {
        position: absolute;
        margin: 117px 296px 150px 40px;
      }
    }
  }

  .pod__testimonials {
    img {
      margin-right: 20px;
    }

    @include mobile {
      display: flex;
      position: absolute;
      justify-content: flex-start;
      top: 250px;
      right: 30px;
      left: 50px;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        &:nth-child(1) {
          width: 56px;
          height: 17px;
        }
        &:nth-child(2) {
          width: 46px;
          height: 17px;
        }
        &:nth-child(3) {
          width: 73px;
          height: 15px;
        }
        &:nth-child(4) {
          width: 80px;
          height: 14px;
        }
      }
    }
  }

  .pod__image-container {
    z-index: 0;
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 130px;
    left: 552px;

    .dots {
      margin: -57px 0 78px 650px;
    }

    @include tablet {
      position: inherit;
      margin: -267px 0 0 277px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .dots {
        margin: 145px 206px 0 -250px;
      }

      @include mobile {
        margin: 0;

        img {
          width: 100%;
          height: 100vh;
          opacity: 0.1;
        }

        .dots {
          display: none;
        }
      }
    }
  }
}

footer {
  position: fixed;
  color: $hover;
  width: 80%;
  bottom: 0;
  align-items: center;
  text-align: center;
  background: transparent;

  @include large {
    position: sticky;
    margin-left: 45%;
    margin-top: 60%;
  }

  @include tablet {
    position: sticky;
    margin-left: 20%;
  }

  @include mobile {
    margin-left: inherit;
    position: absolute;
    text-align: center;
    width: inherit;
    left: 0;
    bottom: 5px;
  }
}
