@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: Chivo, sans-serif;
  color: #ffffff;
  background-color: #121725;
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
}

header {
  margin: 102px 1140px 0 165px;
}

@media (max-width: 1100px) {
  header {
    margin: 50px 594px 152px 39px;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  header {
    position: absolute;
    z-index: 6;
    margin: 62px 143px 0 136px;
  }
  header img {
    width: 96px;
    height: 40px;
  }
}

.pod {
  -o-object-fit: contain;
     object-fit: contain;
}

.pod .pod__container {
  z-index: 2;
  margin: 103px 552px 130px 165px;
  position: absolute;
  background-color: #121725;
}

@media screen and (min-width: 1101px) {
  .pod .pod__container {
    width: 800px;
    height: 700px;
  }
}

@media (max-width: 1100px) {
  .pod .pod__container {
    margin: 258px 94px 257px 39px;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  .pod .pod__container {
    width: 100%;
    margin: 176px 0 0 0;
    background-color: transparent;
  }
}

.pod .pod__container .pod__header {
  font-size: 52px;
  text-transform: uppercase;
  margin: 88px 58px 0 0;
}

.pod .pod__container .pod__header span {
  color: #54e6af;
}

@media (max-width: 1100px) {
  .pod .pod__container .pod__header {
    font-size: 48px;
    margin: 93px 0 0;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  .pod .pod__container .pod__header {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    margin: 0;
  }
}

.pod .pod__container .pod__paragraph {
  color: #c2cbe5;
  margin: 17px 278px 0 0;
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: 1100px) {
  .pod .pod__container .pod__paragraph {
    font-size: 18px;
    margin: 23px 180px 0 0;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  .pod .pod__container .pod__paragraph {
    font-size: 15px;
    margin: 23px 24px;
    text-align: center;
  }
}

.pod .pod__container form {
  margin: 44px 296px 164px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .pod .pod__container form {
    margin: 0 208px 164px 0;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  .pod .pod__container form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 24px 0;
  }
}

.pod .pod__container form input {
  z-index: 3;
  position: absolute;
  width: 418px;
  height: 56px;
  color: #ffffff;
  background: #2c344b;
  border-radius: 50px;
  margin: 44px 296px 93px 0;
  text-indent: 31px;
  border-style: none;
}

@media (max-width: 576px) {
  .pod .pod__container form input {
    position: inherit;
    width: 327px;
    height: 46px;
    margin: 48px 0 16px;
  }
}

.pod .pod__container form div {
  z-index: 3;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  width: 162px;
  height: 46px;
  color: #121725;
  background-color: #54e6af;
  border-radius: 50px;
  margin: 49px 309px 63px 250px;
  -webkit-box-shadow: 0 30px 30px -18px #337f6a;
          box-shadow: 0 30px 30px -18px #337f6a;
  font-weight: 700;
  cursor: pointer;
}

.pod .pod__container form div:hover {
  background-color: #8bd9ca;
  -webkit-box-shadow: 0 30px 30px -18px #54e6af;
          box-shadow: 0 30px 30px -18px #54e6af;
}

@media (max-width: 576px) {
  .pod .pod__container form div {
    position: inherit;
    width: 327px;
    height: 46px;
    margin: 0 5px 92px;
    font-weight: bold;
  }
}

.pod .pod__container form h6 {
  position: absolute;
  margin: 117px 296px 150px 40px;
}

.pod .pod__testimonials img {
  margin-right: 20px;
}

@media (max-width: 576px) {
  .pod .pod__testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 250px;
    right: 30px;
    left: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pod .pod__testimonials img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .pod .pod__testimonials img:nth-child(1) {
    width: 56px;
    height: 17px;
  }
  .pod .pod__testimonials img:nth-child(2) {
    width: 46px;
    height: 17px;
  }
  .pod .pod__testimonials img:nth-child(3) {
    width: 73px;
    height: 15px;
  }
  .pod .pod__testimonials img:nth-child(4) {
    width: 80px;
    height: 14px;
  }
}

.pod .pod__image-container {
  z-index: 0;
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 130px;
  left: 552px;
}

.pod .pod__image-container .dots {
  margin: -57px 0 78px 650px;
}

@media (max-width: 1100px) {
  .pod .pod__image-container {
    position: inherit;
    margin: -267px 0 0 277px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .pod .pod__image-container .dots {
    margin: 145px 206px 0 -250px;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  .pod .pod__image-container {
    margin: 0;
  }
  .pod .pod__image-container img {
    width: 100%;
    height: 100vh;
    opacity: 0.1;
  }
  .pod .pod__image-container .dots {
    display: none;
  }
}

footer {
  color: #c2cbe5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  bottom: 50px;
  width: 90%;
}

@media screen and (min-width: 1101px) {
  footer {
    margin-top: 45%;
  }
}

@media (max-width: 1100px) {
  footer {
    width: 100%;
    margi-bottom: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */